body
{
    background-color: beige;
}

#page
{
    background-color: greenyellow;
    height: 80%;
    padding: 2%;
}

#logo
{
    background-color: red;
    height: 10%;
}

#choosemap
{
    background-color: yellow;
    float: left;
    height: 100%;
    width: 27%;
}

#map
{
    background-color: green;
    float: left;
    height: 100%;
    width: 46%;
}

#players
{
    background-color: orange;
    float: left;
    height: 80%;
    width: 100%;
}

#setup
{
    background-color: turquoise;
    clear: both;
    height: 20%;
}

#menu
{
    background-color: hotpink;
    float: left;
    height: 100%;
    width: 27%;
}