body
{
    background-color: beige;
}

#page
{
    margin-top: 10%;
    margin-bottom: 10%;
    width: auto;
    height: 600px;
    display: block;
    background-color: rgb(56, 46, 46);
}

.naglowek
{
    background-color: brown;
    text-align: center;
}

.map_choose
{
    background-color: cyan;
    /* display: inline-block; */
    width: 25%;
    height: 600px;
    float: left;
}

.map_view
{
    background-color: red;
    /* display: inline-block; */
    width: auto;
    /* margin-left: 25%; */
    width: 50%;
    height: 600px;
    float: left;
}

.players
{
    /* display: inline-block; */
    background-color: royalblue;
    width: 25%;
    /* margin-left: 75%; */
    height: 600px;
    float: left;
}