:root
{
    --trdcolor--: rgb(248, 16, 16);
}

body
{
    background-color: lightgrey;
}

#page
{
    background-color: 4A5859;
    height: 84%;
    min-height: 84%;
    padding: 2%;
    margin-left: 8%;
    margin-right: 8%;
}

#head
{
    height: 7%;
    min-height: 60px;
}

#logo
{
    margin-bottom: auto;
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#choosemap
{
    background-color: BCEBCB;
    float: left;
    margin-top: auto;
    clear: both;
    height: 100%;
    min-height: 100%;
    width: 25%;
}

#map
{
    margin-top: -2.5%;
    background-color: 4A5859;
    float: left;
    height: 100%;
    width: 50%;
    min-height: 100%;
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

img
{   
    width: 100%;
    margin-top: auto;
    object-fit: scale-down;
}

#players
{
    background-color: BCEBCB;
    float: left;
    height: 80%;
    width: 100%;
    min-height: 80%;
}

input
{
    font-size: 28px;
    color:red;
    font-weight: bold;
}

#setup
{
    /* background-color: C5D86D; */
    background-color: lightgreen;
    clear: both;
    height: 20%;
    min-height: 20%;
}

#menu
{
    background-color: hotpink;
    float: left;
    height: 100%;
    min-height: 100%;
    width: 25%;
}

#de_dust2
{
    position: relative;
    display: none;
}

#de_mirage
{
    position: relative;
    display: block;
}

#de_train 
{
    position: relative;
    display: none;
}

#de_cache 
{
    position: relative;
    display: none;
}

#de_inferno 
{
    position: relative;
    display: none;
}

#de_nuke 
{
    position: relative;
    display: none;
}

#de_overpass
{
    position: relative;
    display: none;
}

#de_vertigo
{
    position: relative;
    display: none;
}

#de_ancient
{
    position: relative;
    display: none;
}

.button
{
    clear: both;
}

input, button
{
    float: left;
    margin: 5%;
    width: 80%;
    text-align: center;
    margin-top: 10%;
}

#player1
{
    background-color: purple;
    min-height: 50px;
}
#player2
{
    background-color: green;
    min-height: 50px;
}
#player3
{
    background-color: blue;
    min-height: 50px;
}
#player4 
{
    background-color: orange;
    min-height: 50px;
}
#player5
{
    background-color: yellow;
    min-height: 50px;
}

#bsetup
{
    font-size: 30px;
    height: 50%;
    background-color: darkgreen;
    color: wheat;
}

#bsetup:hover
{
    background-color: green;
}

#showmap
{
    background-color: darkgreen;
    height: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: wheat;
    font-size: 20px;
}

#showmap:hover
{
    background-color: green;
}

.trd {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid var(--trdcolor--);
    position: absolute;
    z-index: 20;
    top: 5px;
    left: 20px;
}

.choose_map_button
{
    background-color: 87D68D;
    margin-top: 4%;
    height: 30px;
    font-size: larger;
    font-weight: bold;
    
}

.choose_map_button:hover
{
    background-color: 93B48B;
}

.map_choose_head
{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#mapNameOnTop
{
    z-index: 45;
    color: white;
    font-size: 52px;
    width: 100%;
    display: block;
    text-align: center;
    text-shadow: 2px 2px #000000;
    padding: 10px;
}

.map_settings_buttons
{
    height: 20%;
    margin-top: 8%;
    margin-bottom: 2%;
    display: block;
    float: left;
}